---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import Card from "../components/Card.astro";
---

<Layout title="Alan Saja Dev">
  <main>
    <section class="w-full lg:w-[740px] mx-auto py-44 ">
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-6">
        Hola! Soy Alan Saja
		<div class="flex justify-center items-center"><Badge> <i class=""></i>Argentina, Buenos Aires </Badge></div>
      </h1>
   
      <h2 class="text-1xl p-1 opacity-80">Desarrollador Web & IT HelpDesk.</h2>
    </section>
  </main>
</Layout>
