---
import Layout from "../layouts/Layout.astro"

import AboutMe from "../components/AboutMe.astro"
import Experience from "../components/Experience.astro"
import Hero from "../components/Hero.astro"
import Projects from "../components/Projects.astro"
import SectionContainer from "../components/SectionContainer.astro"
import CodeIcon from "../components/icons/Code.astro"
import ProfileCheckIcon from "../components/icons/ProfileCheck.astro"
import BriefcaseIcon from "../components/icons/Briefcase.astro"
import InteractiveBackground from "../components/InteractiveBackground.astro"
---

<Layout
  title="Alan Saja — Desarrollador Web & HelpDesk IT"
  description="Contrata a Alan Saja para crear tu aplicación web o brindar soporte técnico IT. Desarrollador Web especializado en interfaces únicas y soporte de infraestructura."
>
  <InteractiveBackground />
  <main class="px-4 relative z-10">
    <SectionContainer id="inicio" class="py-16 md:py-36">
      <Hero />
    </SectionContainer>

    <div class="space-y-24">
      <SectionContainer id="experiencia">
        <h2
          class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-sumi-900 dark:text-washi-50 font-serif"
        >
          <BriefcaseIcon class="size-8" />
          Experiencia laboral
        </h2>
        <Experience />
      </SectionContainer>

      <SectionContainer id="proyectos">
        <h2
          class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-sumi-900 dark:text-washi-50 font-serif"
        >
          <CodeIcon class="size-7" />
          Proyectos
        </h2>
        <Projects />
      </SectionContainer>

      <SectionContainer id="sobre-mi">
        <h2
          class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-sumi-900 dark:text-washi-50 font-serif"
        >
          <ProfileCheckIcon class="size-8" />
          Sobre mí
        </h2>
        <AboutMe />
      </SectionContainer>
    </div>
  </main>
</Layout>
