---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import Card from "../components/Card.astro";
---

<Layout title="Alan Saja Dev">
  <main>
    <section class="w-full lg:w-[740px] mx-auto py-44">
      <h1 class="text-white text-6xl font-black flex flex-row gap-x-4 pb-2">
        Hola! Soy Alan Saja
        <div class="flex justify-center items-center mt-1">
          <Badge>Argentina, Buenos Aires </Badge>
        </div>
      </h1>
      <p class="text-1xl opacity-80">Desarrollador Web & IT HelpDesk.</p>
    </section>
    <section>
      <Card><h3 class="flex justify-center items-center ">+6 Años de experiencia trabajando con hardware & software, <br> configurando servidores desarollando webs y aplicaciones</h3>
      <Card />
      </section>
  </main>
</Layout>
