---
 const personalImageAlt = "Alan Saja"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-green-600 dark:[&>p>strong]:text-green-300 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Mi nombre es Alan Adrian Saja, <strong
        >  Mi camino en la tecnología comenzó creando plug-ins para juegos y
        arreglando las computadoras </strong
      >de amigos y familiares.
    </p>

    <p>
      Trabaje en servicio técnico de microinformática y en la configuración de
      servidores.<strong
        >
      Actualmente, me dedico al desarrollo web y al soporte informatico de IT.</strong>
    </p>

  </div>

  <img width="200" height="200" src="/alandev.jpeg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 ">

</article>

