<header class="flex justify-center items-center py-5 font-normal">
  <nav class="flex flex-row gap-x-5 opacity-80">
    <a class="navhov font-medium" href="/">Sobre mi</a>
    <a class="navhov font-medium" href="/about">Experiencia </a>
    <a class="navhov font-medium" href="/portfolio">Portfolio</a>
    <a  class="navhov font-medium" href="/contact">Contacto</a>
  </nav>
</header>

<style>
  .navhov {
    color: #c7c7c7 !important;
    padding: 10px;
    border: 1px solid #383838 !important;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    text-transform: uppercase;
  }
  .navhov:hover {
    color: rgb(250 204 21) !important;
    border-radius: 50px;
    border-color:rgb(250 204 21)!important;
    transition: all 0.3s ease 0s;
  }
  .resplandor {
    box-shadow: 0px 0px 40px #15195e;
    border: 0.5px solid #363752;
  }
</style>
