<header class="flex py-5 font-normal resplandor  justify-center w-full">
  <nav class="flex flex-row gap-x-5 opacity-80">
    <a class="text-sm navhov font-bold" href="/">Sobre mí</a>
    <a class="text-sm navhov font-bold" href="/about">Experiencia </a>
    <a class="text-sm navhov font-bold" href="/portfolio">Portfolio</a>
    <a class="text-sm navhov font-bold" href="/contact">Contacto</a>
  </nav>
</header>

<style>
  .navhov {
    color: #ffffff !important;
    padding-inline: 2px;
    transition: all 0.3s ease 0s;
  }
  .navhov:hover {
    color: rgb(21, 250, 135) !important;
    transition: all 0.3s ease 0s;
  }
  .resplandor {
    backdrop-filter: blur(5px); /* Aplicar desenfoque */
    padding: 20px;
    border-radius: 30px;
    text-align: center;
    max-width: ;
  }
</style>
