---
interface Props {
  title: string;
}

import Header from "../components/Header.astro";
import '@fontsource-variable/montserrat';

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: "Helvetica";
    src:
      url("/fonts/Helvetica.woff") format("woff"),
      url("/fonts/helvetica-Bold.woff") format("woff"),
      url("/fonts/helvetica-BoldOblique.woff") format("woff"),
      url("/fonts/helvetica-rounded-bold-5871d05ead8de.woff") format("woff"),
      url("/fonts/helvetica-light-587ebe5a59211.woff") format("woff"),
      url("/fonts/helvetica-compressed-5871d14b6903a.woff") format("woff"),
      url("/fonts/helvetica-Oblique.woff") format("woff");
  }
  :root {
    color-scheme: light dark;
  }
  html {
  font-family: 'Montserrat Variable', sans-serif;
  }
  body {
    background: radial-gradient(ellipse at top, #0d1927, transparent),
            radial-gradient(ellipse at bottom, #060223, transparent);
    display: flex;
    flex-direction: column;

    min-height: 100vh;
  }
</style>
